@import './base.css';


@font-face {
  font-family: 'Eras-bold';
  src: url('./fonts/eras-itc-bold.ttf');
}

@font-face {
  font-family: 'Eras-book';
  src: url('./fonts/eras-itc-book.otf');
}

#app {
  margin-top: -10px;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

a:hover{
  cursor: pointer;
}


.hide{
  visibility: collapse;
}

.show{
  visibility: visible;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.column {
  display: flex;
  flex-direction: column;
}

.hover:hover {
  transform: scale(1.2);
  transition: 0.2s;
}

.eras-book {
  font-family: 'Eras-book';
}

.eras-bold {
  font-family: 'Eras-bold';
}

.b-radius {
  border-radius: 500px;
}

.leftpadding {
  padding-left: 35px;
}

.articleLeft {
  margin: 10vh 10vw 10vh 40vw;
  padding: 25px;
}

.row-wrap{
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.articleRight {
  margin: 10vh 40vw 10vh 10vw;
  padding: 25px;

}

.imgArticleLeft {

  height: 60vh;
  width: 40vw;
  margin-bottom: -60vh;
  margin-left: 10vw;
  margin-top: 5vh;
}

.imgArticleRight {
  height: 60vh;
  width: 40vw;
  margin-bottom: -60vh;
  margin-left: 50vw;
  margin-top: 5vh;

}

.textRight {
  text-align: right;
}

.button {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #19897e;
  color: white;
  padding: 15px;
  height: auto;
  width: auto;
  border-radius: 250px;
}


.justify {
  text-align: justify;
}

.green {
  color: #19897e;
}

.red{
  color:red
}

.black{
  color:black;
}

.white{
  color:white;
}

.fillingImage{
  width: 40vw;
}

.background-green {
      background-image: radial-gradient(farthest-corner at 40px 40px,
            rgb(23, 75, 70) 0%,
            rgb(159, 219, 213) 150%);
}

.background-orange{
  background-color: orange;
}
.background-white{
  background-color: white;
}

#logo-1 {
  width: 100%;
  height: 100%;
}

#logo {
  width: 40%;
  padding: 25px;
  height: auto;
  
  background-color: white;
}

#worksTypeCache {
  width: 100px;
  height: 100px;
}

.absolute {
  position: absolute;
}

.formRadio {
  width: 100px;
  height: 100px;

}