@import './base.css';


@font-face {
  font-family: 'Eras-bold';
  src: url('./fonts/eras-itc-bold.ttf');
}

@font-face {
  font-family: 'Eras-book';
  src: url('./fonts/eras-itc-book.otf');
}

#app {
  margin-top: -10px;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

.hover:hover{
  transform: scale(1.2);
}

.eras-book {
  font-family: 'Eras-book';
}

.eras-bold {
  font-family: 'Eras-bold';
}



.leftpadding {
  padding-left: 35px;
}

.articleLeft {
  margin: 10vh 20vw 10vh 20vw;
  padding: 25px;
}

.articleRight {
  margin: 10vh 20vw 10vh 20vw;
  padding: 25px;
  
}

.imgArticleLeft {

  height: 50vh;
  width: 20vw;
  margin-bottom: -50vh;
  margin-left: 10vw;
  margin-top: 5vh;
}

.imgArticleRight {
  height: 50vh;
  width: 20vw;
  margin-bottom: -50vh; 
  margin-left: 70vw;
  margin-top: 5vh;

}

.textRight {
  text-align: right;
}

.button {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #19897e;
  color: white;
  padding: 15px;
  height: auto;
  width: auto;
  border-radius: 250px;
}


.justify {
  text-align: justify;
}

.green {
  color: #19897e;
}

#worksTypeCache {
  width: 100px;
  height: 100px;
}

.absolute {
  position: absolute;
}

.formRadio {
  width: 100px;
  height: 100px;

}